In [74]:

import numpy as np
import pandas as pd
data = pd.DataFrame([[0, 0, 3], [1, 1, 0], [0, 2, 1], [1, 0, 2]])
data

   0  1  2
0  0  0  3
1  1  1  0
2  0  2  1
3  1  0  2

In [75]:
#Turns out data[1] is categorical
from sklearn import preprocessing
cat_col = pd.DataFrame(data.loc[:,1])

enc = preprocessing.OneHotEncoder()
enc.fit(cat_col)
cat_col_oh = pd.DataFrame(enc.transform(cat_col).toarray())
cat_col_oh

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [76]:
#Drop old encoding and join col
data = data.drop(1, axis=1)
data

   0  2
0  0  3
1  1  0
2  0  1
3  1  2

In [83]:
#pd.concat([df1, df4], axis=1, join_axes=[df1.index])
#pd.concat(data, cat_col_oh, axis=1)

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0